/*!
    Theme Name: CCDMD
    Theme URI:
    Author: Bridge Media Inc.
    Author URI: https://www.bridgemedia.ca

    Description: Site Theme for CCDMD
    Version: 1.0
    Text Domain: domaineTheme
 
    All rights reserved Bridge Media 2022.
*/


:root{
/* colors */
    --primary: #0099d0;
    --primary-active:#0664a1;
    --primary-border:#00acf0;

    --green:#63823b; 
    --green-active:#789a4d;
    
    --white:#ffffff;
    --off-white:#fdfdfd;
    --gray:#242528; /* footer*/
    --gray-dark:#212121;
   
    --black:#000;


/* transparency */
--gray-dark-transparent-85: rgba(36,30,40,0.85);
--gray-dark-transparent-90: rgba(36,30,40,0.90);


  

/* textcolors */
--white-text: #fdfdfe;
--off-white-text: #fffff0;
--navigation-text:#f2f2f2;
--green-text:#657d41;
--gray-text:#3f3f3c;
--gray-light-text:#B1A8AB;
--primary-text:#0664a1;

/* fonts */
--font-xxl: 42px;
--font-xl: 30px;
--font-l: 1.2em;
--font-m: 28px;



/* font-families */
--main-title: 'Ubuntu', sans-serif;
--body-font:  'Open Sans', sans-serif;

}

