/* Section Block 3 grid */

.grid-3col {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .grid__item {
        flex-basis: 30%;
        margin-bottom: 1em;

        .grid__item-top {
            text-align: center;
            margin: 15px 0px 20px 0px;
            position: relative;

            &.icon a {
                display: block;
                text-align: center;
                width: 130px;
                margin-left: auto;
                margin-right: auto;
                background: $off-white;
                border: 2px solid $primary-border;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                i {
                    padding: 28px;
                    font-size: 3.8em;
                    color: #4c4c4c;
                }
            }
            &.image {
                margin: unset;
                max-width: 300px;
                height: 169px;
                margin-bottom: 20px;

                img {
                    border: 1px solid #e5e5e5;
                    width: 300px;
                    object-fit: cover;
                    height: 100%;
                    overflow: hidden;
                }
            }
        }

        .grid__item-bottom {
            color: $gray-text;
            text-align: center;
            
            .link {
                font-size: 1.1em;
                margin-bottom: 10px;
            }
        }
    }
}

.type_icon {
    bottom: -4px;
    position: absolute;
    right: -3px;
    overflow: visible;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 28px;
    height: 28px;
}

.type_video .type_icon {
    background: url($imageThemePath + "/dev-temp/video_icon.png") no-repeat 1px 3px;
    background-size: 25px;
    background-color: #ffffff;
}

.type_resource .type_icon {
    background: url($imageThemePath + "/dev-temp/ressourceexterne_icon.png") no-repeat -6px -3px;
    background-size: 38px;
    background-color: #ffffff;
}

.views__content {
    margin: 10px 0;
}

.views__content-title a {
    font-size: 1.25em;
    line-height: 1.1em;
    color: $primary-text;
}
