@import "base/variables";
/* Main - body */
.section__block {
    margin-bottom: 3em;
}

/* Front-page call to action Hero section */

.home-page__hero {
    background-size: cover;
    padding: 100px 0px 96px 0px;
    margin-bottom: 3em;
    &.background__image {
        background-image: url($imageThemePath + "/dev-temp/background_frontpage_hero_carceral.png");
    }
    .home-page__hero__items-wrapper {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .hero__summary-wrapper {
            color: var(--off-white-text);
            background: var(--gray-dark-transparent-85);
            padding: 15px;
            max-width: 650px;

            h3 {
                font-size: 2em;
                font-weight: 300;
            }
        }
        .hero__button-wrapper {
            background: var(--gray-dark-transparent-85);
            padding: 15px;
            .hero__button {
                color: var(--off-white-text);
                font-size: 1.1em;
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
