/* Color Block section */

.section__color-block {
    background-color: $primary;
    position: relative;

    &.triangle-decor::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 14px solid $off-white;
        position: absolute;
        left: 50%;
        top: 0;
    }

    .section__color-block-wrapper {
        width: 95%;
        margin: 0 auto;
        max-width: 990px;
        text-align: center;
        padding: 3em 0px;

        h3 {
            color: #fffff0;
            font-size: 1.9em;
            font-weight: normal;
        }
    }

    .empty-button-wrapper {
        padding-top: 2.3em;

        .empty-button {
            display: inline-block;
            color: #ffffff;
            font-size: 1.15em;
            font-weight: bold;
            padding: 1em;
            border: 2px solid #ffffff;
        }
    }
}
