/* Footer */

footer {
    background-color: $gray;
    color: $white-text;
    padding: 20px 10px;
    font-size: 14px;

    .footer__wrapper {
        margin: 0 auto;
        max-width: 2600px;
        width: 95%;
        overflow: visible;
        word-wrap: break-word;

        a {
            color: inherit;
        }

        .footer__block-menu {
            display: block;
            border-right-style: solid;
            border-right-width: 1px;
            min-height: 220px;
            width: 195px;
            border-color: $primary;
            margin-bottom: 20px;

            .footer__block-menu-title {
                padding: 2px 10px;
                font-size: 1.1em;
            }

            .footer__block-menu-content {
                .footer__menu {
                    padding: 0 0 0 10px;
                    border: none;
                    list-style: none;
                    text-align: left;
                    margin: 1em 0;
                }
            }
        }
        .footer__wrapper-top {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-direction: row;
            flex-wrap: wrap;

            .block__social-media {
                margin-top: 20px;
            }
        }
        .footer__wrapper-bottom {
            border-top: 1px dashed #333333;
            margin: 20px 0;
            padding: 10px 0 0;
            width: 100%;

            .footer_copyright {
                font-size: 0.9em;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
