/*Header*/

.header__top-bar {
    background-color: $black;
    position: relative;
    padding: 5px 32px 0;

    .top-bar__home-icon img {
        width: 20px;
        height: auto;
    }
}

/* Header + Branding */
.header__branding {
    background: $gray-gradient-header;
    padding: 0.7em 3em 1em 4.5em;

    .branding__elements {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2em;

        .branding__logo img {
            width: 8ch;
            max-width: 200px;
        }

        .branding__site-name-and-slogan {
            margin: 0 auto;
            max-width: 2600px;
            width: 95%;
            color: $white-text;

            h1.site-name {
                font-size: $font-xxl;
                font-family: $main-title;
                font-weight: 300;
                line-height: 1.4;
                & a:link,
                a:visited {
                    text-decoration: none;
                    color: $white-text;
                }
            }
            h2.site-slogan {
                font-family: $body-font;
                font-size: $font-l;
                font-weight: 300;
                line-height: 2.4;
                
            }
        }
    }
}

