/* Primary Navigation  */

.primary-navigation__bar {
    background-color: $primary;
    border-bottom: 1.5px solid #ffffff;

    .primary-navigation__menu {
        margin: 0 auto;
        max-width: 2600px;
        width: 95%;
        font-size: 18px;

        .primary-menu {
            display: flex;


            .primary-menu-item {
                position: relative;
                padding: 3px 30px;
                border-right: 1px solid $navigation-text;

                a {
                    color: $navigation-text;
                    position: relative;
                    text-decoration: none;
                    font-weight: 600;
                }
            }

        }
    }
}


.primary-menu-item.active {
    background-color: $primary-active;

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 14px solid $primary-active;
        position: absolute;
        left: 40%;
        top: 33px;
    }
}

