/* main styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    line-height: 1.5;
    height: 100%;
    overflow-y: scroll;
}
body {
    background-color: var(--off-white);
    color: var(--gray-text);
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

img {
    height: auto;
}

nav ul,
nav ol, ul, ol {
    list-style: none;
    list-style-image: none;
}

.link,
.link a {
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}
.no-border-botom {
    border-bottom: none;
}

.section__block {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 990px;
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #d7d7d7;
    
    &.no-border-botom {
        border-bottom: none;
    }

}

.section__block-title {
    text-align: center;
    font-size: $font-m;
    font-family: $main-title;
    font-weight: 400;
    padding-bottom: 1.5em;
}