@charset "UTF-8";



body {
    background-color: var(--off-white);
    color: var(--gray-text);
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

img {
    height: auto;

}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

.link, .link a {
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}

.header__top-bar {
    background-color: var(--black);
    position: relative;
    padding: 5px 32px 0;
}

.top-bar__home-icon img {
    width: 20px;
    height: auto;
}

/* Header + Branding */
.header__branding {
    background: linear-gradient(to bottom, #242528 0%, #242528 100%);
    padding: 0.7em 3em 1em 4.5em;
}

.branding__elements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2em;
}

.branding__logo img {
    width: 8ch;
    max-width: 200px;
}

.branding__site-name-and-slogan {
    margin: 0 auto;
    max-width: 2600px;
    width: 95%;
    color: var(--white-text);
}

h1.site-name {
    font-size: var(--font-xxl);
    font-family: var(--main-title);
    font-weight: 300;
    line-height: 1.4;


}

.site-name a:link, .site-name a:visited {
    text-decoration: none;
    color: var(--white-text);

}

h2.site-slogan {
    font-family: var(--body-font);
    font-size: var(--font-l);
    font-weight: 300;
    line-height: 2.4;
}

/* Primary Navigation  */
.primary-navigation__bar {
    background-color: var(--primary);
    border-bottom: 1.5px solid #FFFFFF;
}

.primary-navigation__menu {
    margin: 0 auto;
    max-width: 2600px;
    width: 95%;
    font-size: 18px;
}

.primary-menu {
    display: flex;
}

.primary-menu-item {
    position: relative;
    padding: 3px 30px;
    border-right: 1px solid var(--navigation-text);
}

.primary-menu-item a {
    color: var(--navigation-text);
    position: relative;
    text-decoration: none;
    font-weight: 600;
}

.primary-menu-item.active {
    background-color: var(--primary-active);
}

.primary-menu-item.active::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 14px solid var(--primary-active);
    position: absolute;
    left: 40%;
    top: 33px;
}

/* Main - body */
.section__block {
    margin-bottom: 3em;
}

/* Front-page Hero section */

.home-page__hero.background__image {
    background-image: url(../../images/dev-temp/background_frontpage_hero_carceral.png);

}

.home-page__hero {
    background-size: cover;
    padding: 100px 0px 96px 0px;
    margin-bottom: 3em;
}

.home-page__hero__items-wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.hero__summary-wrapper {
    color: var(--off-white-text);
    background: var(--gray-dark-transparent-85);
    padding: 15px;
    max-width: 650px;
}

.hero__summary-wrapper h3 {
    font-size: 2em;
    font-weight: 300;
}

.hero__button-wrapper {
    background: var(--gray-dark-transparent-85);
    padding: 15px;

}

.hero__button {
    color: var(--off-white-text);
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
}

/* Section Block 3 grid */

.section__block {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 990px;
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #d7d7d7;

}

.no-border-botom {
    border-bottom: none;
}

.section__block-title {
    text-align: center;
    font-size: var(--font-m);
    font-family: var(--main-title);
    font-weight: 400;
    padding-bottom: 1.5em;
}

.grid-3col {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-3col .grid__item {
    flex-basis: 30%;
    margin-bottom: 1em;
}

.grid__item-top {
    text-align: center;
    margin: 15px 0px 20px 0px;
    position: relative;
}

.grid__item-top.icon a {
    display: block;
    text-align: center;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    background: var(--off-white);
    border: 2px solid var(--primary-border);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.grid__item-top.icon a i {
    padding: 28px;
    font-size: 3.8em;
    color: #4c4c4c;
}

.grid__item-bottom {
    color: var(--gray-text);
    text-align: center;
}

.grid__item-bottom .link {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.grid__item-top.image {
    margin: unset;
    max-width: 300px;
    height: 169px;
    margin-bottom: 20px;
}

.grid__item-top.image img {
    border: 1px solid #E5E5E5;
    width: 300px;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
}

.type_icon {
    bottom: -4px;
    position: absolute;
    right: -3px;
    overflow: visible;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    width: 28px;
    height: 28px;
}

.type_video .type_icon {
    background: url(../../images/dev-temp/video_icon.png) no-repeat 1px 3px;
    background-size: 25px;
    background-color: #ffffff;
}

.type_resource .type_icon {
    background: url(../../images/dev-temp/ressourceexterne_icon.png) no-repeat -6px -3px;
    background-size: 38px;
    background-color: #ffffff;
}

.views__content {
    margin: 10px 0;
}

.views__content-title a {
    font-size: 1.25em;
    line-height: 1.1em;
    color: var(--primary-text);

}

/* Color Block section */

.section__color-block {
    background-color: var(--primary);
    position: relative;
}

.section__color-block-wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 990px;
    text-align: center;
    padding: 3em 0px;
}

.triangle-decor::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid var(--off-white);
    position: absolute;
    left: 50%;
    top: 0;
}

.section__color-block h3 {
    color: #fffff0;
    font-size: 1.9em;
    font-weight: normal;

}
.section__color-block .empty-button-wrapper{
    padding-top: 2em;
    
}

.section__color-block .empty-button {
    display: inline-block;
    color: #FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    padding: 1em;
    border: 2px solid #FFFFFF;
    
}

/* Footer */

 footer {
    background-color: var(--gray);
    color: var(--white-text);
    padding: 20px 10px;
    font-size: 14px;
 }
 footer a{
     color: inherit;
 }
.footer__wrapper{
    margin: 0 auto;
    max-width: 2600px;
    width: 95%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .grid-3col {
        flex-direction: column;

    }

}

@media screen and (min-width: 481px) and(max-width: 625px) {

    h1.site-name {
        font-size: 2em;
    }

    .header__branding {
        padding: 0.7em 1.2em;
    }

    h2.site-slogan {

        font-size: 1.3em;
        line-height: 1.5;

    }



    .branding__elements {
        align-items: flex-start;
        gap: 1em;
    }

}

@media screen and (max-width: 1025px) {
    .header__branding {
        padding: 0.7em 1em 1em 3em;
    }

    .primary-navigation__menu {
        margin: 0 auto;

        width: 100%;

    }

}

@media screen and (max-width: 480px) {
    .header__top-bar {
        padding: 5px 12px 0;
    }

    h1.site-name {
        font-size: 1.7em;
    }

    h2.site-slogan {
        font-size: 1em;
        line-height: 1.6;
        margin: 5px 0;
    }

    .header__branding {
        padding: 0.5em 1em 1em 1em;
    }

    .branding__logo img {
        width: 5ch;
        max-width: 100px;
    }

    .primary-menu {
        display: flex;
        flex-direction: column;
    }

    .primary-menu-item {
        border-bottom: 1px solid #FFFFFF;
    }

    .primary-menu-item:last-of-type {
        border-bottom: none;
    }

    .primary-menu-item.active::after {

        border-top: 14px solid #FFFFFF;
        transform: rotate(-90deg);
        left: -10px;
        top: 10px;
    }

    .hero__summary-wrapper h3 {
        font-size: 1.8em;
    }

    .home-page__hero {
        background-size: cover;
        margin-bottom: 3em;
        padding: 60px 0px 64px 0px;
    }

}