/*!
    Theme Name: CCDMD
    Theme URI:
    Author: Bridge Media Inc.
    Author URI: https://www.bridgemedia.ca

    Description: Site Theme for CCDMD
    Version: 1.0
    Text Domain: domaineTheme
 
    All rights reserved Bridge Media Inc. 2022.
*//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
/* colors */

/* footer*/

/* transparency */

/* textcolors */

/* fonts */

/* font-families */

/*!
 * Bootstrap Grid Only (grid and responsive utilities extracted from Bootstrap 4.1.3)
 * GitHub: https://github.com/dmhendricks/bootstrap-grid-css
 * Bootstrap License: MIT (https://github.com/twbs/bootstrap/blob/v4-dev/LICENSE)
 * Credits: Twitter, Inc. & The Bootstrap Authors (https://github.com/twbs/bootstrap/graphs/contributors)
 */

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.bootstrap-wrapper {
  /**
   * Bootstrap overrides
   */
}

.bootstrap-wrapper .clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.bootstrap-wrapper .visible {
  visibility: visible !important;
}

.bootstrap-wrapper .invisible {
  visibility: hidden !important;
}

.bootstrap-wrapper .hidden-xs-up {
  display: none !important;
}

@media (max-width: 575.98px) {
  .bootstrap-wrapper .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .bootstrap-wrapper .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .bootstrap-wrapper .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .bootstrap-wrapper .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .bootstrap-wrapper .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .bootstrap-wrapper .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199.98px) {
  .bootstrap-wrapper .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .bootstrap-wrapper .hidden-xl-up {
    display: none !important;
  }
}

.bootstrap-wrapper .hidden-xl-down {
  display: none !important;
}

.bootstrap-wrapper .visible-print-block {
  display: none !important;
}

@media print {
  .bootstrap-wrapper .visible-print-block {
    display: block !important;
  }
}

.bootstrap-wrapper .visible-print-inline {
  display: none !important;
}

@media print {
  .bootstrap-wrapper .visible-print-inline {
    display: inline !important;
  }
}

.bootstrap-wrapper .visible-print-inline-block {
  display: none !important;
}

@media print {
  .bootstrap-wrapper .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .bootstrap-wrapper .hidden-print {
    display: none !important;
  }
}

.bootstrap-wrapper .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .bootstrap-wrapper .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .bootstrap-wrapper .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .bootstrap-wrapper .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .bootstrap-wrapper .container {
    max-width: 1140px;
  }
}

.bootstrap-wrapper .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bootstrap-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.bootstrap-wrapper .no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.bootstrap-wrapper .no-gutters > .col,
.bootstrap-wrapper .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.bootstrap-wrapper .col-xl,
.bootstrap-wrapper .col-xl-auto,
.bootstrap-wrapper .col-xl-12,
.bootstrap-wrapper .col-xl-11,
.bootstrap-wrapper .col-xl-10,
.bootstrap-wrapper .col-xl-9,
.bootstrap-wrapper .col-xl-8,
.bootstrap-wrapper .col-xl-7,
.bootstrap-wrapper .col-xl-6,
.bootstrap-wrapper .col-xl-5,
.bootstrap-wrapper .col-xl-4,
.bootstrap-wrapper .col-xl-3,
.bootstrap-wrapper .col-xl-2,
.bootstrap-wrapper .col-xl-1,
.bootstrap-wrapper .col-lg,
.bootstrap-wrapper .col-lg-auto,
.bootstrap-wrapper .col-lg-12,
.bootstrap-wrapper .col-lg-11,
.bootstrap-wrapper .col-lg-10,
.bootstrap-wrapper .col-lg-9,
.bootstrap-wrapper .col-lg-8,
.bootstrap-wrapper .col-lg-7,
.bootstrap-wrapper .col-lg-6,
.bootstrap-wrapper .col-lg-5,
.bootstrap-wrapper .col-lg-4,
.bootstrap-wrapper .col-lg-3,
.bootstrap-wrapper .col-lg-2,
.bootstrap-wrapper .col-lg-1,
.bootstrap-wrapper .col-md,
.bootstrap-wrapper .col-md-auto,
.bootstrap-wrapper .col-md-12,
.bootstrap-wrapper .col-md-11,
.bootstrap-wrapper .col-md-10,
.bootstrap-wrapper .col-md-9,
.bootstrap-wrapper .col-md-8,
.bootstrap-wrapper .col-md-7,
.bootstrap-wrapper .col-md-6,
.bootstrap-wrapper .col-md-5,
.bootstrap-wrapper .col-md-4,
.bootstrap-wrapper .col-md-3,
.bootstrap-wrapper .col-md-2,
.bootstrap-wrapper .col-md-1,
.bootstrap-wrapper .col-sm,
.bootstrap-wrapper .col-sm-auto,
.bootstrap-wrapper .col-sm-12,
.bootstrap-wrapper .col-sm-11,
.bootstrap-wrapper .col-sm-10,
.bootstrap-wrapper .col-sm-9,
.bootstrap-wrapper .col-sm-8,
.bootstrap-wrapper .col-sm-7,
.bootstrap-wrapper .col-sm-6,
.bootstrap-wrapper .col-sm-5,
.bootstrap-wrapper .col-sm-4,
.bootstrap-wrapper .col-sm-3,
.bootstrap-wrapper .col-sm-2,
.bootstrap-wrapper .col-sm-1,
.bootstrap-wrapper .col,
.bootstrap-wrapper .col-auto,
.bootstrap-wrapper .col-12,
.bootstrap-wrapper .col-11,
.bootstrap-wrapper .col-10,
.bootstrap-wrapper .col-9,
.bootstrap-wrapper .col-8,
.bootstrap-wrapper .col-7,
.bootstrap-wrapper .col-6,
.bootstrap-wrapper .col-5,
.bootstrap-wrapper .col-4,
.bootstrap-wrapper .col-3,
.bootstrap-wrapper .col-2,
.bootstrap-wrapper .col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.bootstrap-wrapper .col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.bootstrap-wrapper .col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.bootstrap-wrapper .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.bootstrap-wrapper .col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.bootstrap-wrapper .col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.bootstrap-wrapper .col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.bootstrap-wrapper .col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.bootstrap-wrapper .col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.bootstrap-wrapper .col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.bootstrap-wrapper .col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.bootstrap-wrapper .col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.bootstrap-wrapper .col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.bootstrap-wrapper .col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.bootstrap-wrapper .col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.bootstrap-wrapper .order-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.bootstrap-wrapper .order-last {
  -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
          order: 13;
}

.bootstrap-wrapper .order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.bootstrap-wrapper .order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.bootstrap-wrapper .order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.bootstrap-wrapper .order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.bootstrap-wrapper .order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.bootstrap-wrapper .order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.bootstrap-wrapper .order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.bootstrap-wrapper .order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.bootstrap-wrapper .order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.bootstrap-wrapper .order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.bootstrap-wrapper .order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.bootstrap-wrapper .order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.bootstrap-wrapper .order-12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.bootstrap-wrapper .offset-1 {
  margin-left: 8.3333333333%;
}

.bootstrap-wrapper .offset-2 {
  margin-left: 16.6666666667%;
}

.bootstrap-wrapper .offset-3 {
  margin-left: 25%;
}

.bootstrap-wrapper .offset-4 {
  margin-left: 33.3333333333%;
}

.bootstrap-wrapper .offset-5 {
  margin-left: 41.6666666667%;
}

.bootstrap-wrapper .offset-6 {
  margin-left: 50%;
}

.bootstrap-wrapper .offset-7 {
  margin-left: 58.3333333333%;
}

.bootstrap-wrapper .offset-8 {
  margin-left: 66.6666666667%;
}

.bootstrap-wrapper .offset-9 {
  margin-left: 75%;
}

.bootstrap-wrapper .offset-10 {
  margin-left: 83.3333333333%;
}

.bootstrap-wrapper .offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  .bootstrap-wrapper .col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .bootstrap-wrapper .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .bootstrap-wrapper .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .bootstrap-wrapper .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .bootstrap-wrapper .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .bootstrap-wrapper .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .bootstrap-wrapper .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .bootstrap-wrapper .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .bootstrap-wrapper .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .bootstrap-wrapper .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .bootstrap-wrapper .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .bootstrap-wrapper .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .bootstrap-wrapper .order-sm-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .bootstrap-wrapper .order-sm-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }

  .bootstrap-wrapper .order-sm-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .bootstrap-wrapper .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bootstrap-wrapper .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .bootstrap-wrapper .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .bootstrap-wrapper .order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .bootstrap-wrapper .order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .bootstrap-wrapper .order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .bootstrap-wrapper .order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .bootstrap-wrapper .order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .bootstrap-wrapper .order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }

  .bootstrap-wrapper .order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }

  .bootstrap-wrapper .order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }

  .bootstrap-wrapper .order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }

  .bootstrap-wrapper .offset-sm-0 {
    margin-left: 0;
  }

  .bootstrap-wrapper .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .bootstrap-wrapper .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .bootstrap-wrapper .offset-sm-3 {
    margin-left: 25%;
  }

  .bootstrap-wrapper .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .bootstrap-wrapper .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .bootstrap-wrapper .offset-sm-6 {
    margin-left: 50%;
  }

  .bootstrap-wrapper .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .bootstrap-wrapper .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .bootstrap-wrapper .offset-sm-9 {
    margin-left: 75%;
  }

  .bootstrap-wrapper .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .bootstrap-wrapper .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .bootstrap-wrapper .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .bootstrap-wrapper .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .bootstrap-wrapper .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .bootstrap-wrapper .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .bootstrap-wrapper .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .bootstrap-wrapper .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .bootstrap-wrapper .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .bootstrap-wrapper .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .bootstrap-wrapper .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .bootstrap-wrapper .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .bootstrap-wrapper .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .bootstrap-wrapper .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .bootstrap-wrapper .order-md-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .bootstrap-wrapper .order-md-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }

  .bootstrap-wrapper .order-md-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .bootstrap-wrapper .order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bootstrap-wrapper .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .bootstrap-wrapper .order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .bootstrap-wrapper .order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .bootstrap-wrapper .order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .bootstrap-wrapper .order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .bootstrap-wrapper .order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .bootstrap-wrapper .order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .bootstrap-wrapper .order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }

  .bootstrap-wrapper .order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }

  .bootstrap-wrapper .order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }

  .bootstrap-wrapper .order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }

  .bootstrap-wrapper .offset-md-0 {
    margin-left: 0;
  }

  .bootstrap-wrapper .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .bootstrap-wrapper .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .bootstrap-wrapper .offset-md-3 {
    margin-left: 25%;
  }

  .bootstrap-wrapper .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .bootstrap-wrapper .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .bootstrap-wrapper .offset-md-6 {
    margin-left: 50%;
  }

  .bootstrap-wrapper .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .bootstrap-wrapper .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .bootstrap-wrapper .offset-md-9 {
    margin-left: 75%;
  }

  .bootstrap-wrapper .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .bootstrap-wrapper .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .bootstrap-wrapper .col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .bootstrap-wrapper .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .bootstrap-wrapper .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .bootstrap-wrapper .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .bootstrap-wrapper .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .bootstrap-wrapper .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .bootstrap-wrapper .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .bootstrap-wrapper .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .bootstrap-wrapper .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .bootstrap-wrapper .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .bootstrap-wrapper .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .bootstrap-wrapper .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .bootstrap-wrapper .order-lg-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .bootstrap-wrapper .order-lg-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }

  .bootstrap-wrapper .order-lg-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .bootstrap-wrapper .order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bootstrap-wrapper .order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .bootstrap-wrapper .order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .bootstrap-wrapper .order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .bootstrap-wrapper .order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .bootstrap-wrapper .order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .bootstrap-wrapper .order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .bootstrap-wrapper .order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .bootstrap-wrapper .order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }

  .bootstrap-wrapper .order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }

  .bootstrap-wrapper .order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }

  .bootstrap-wrapper .order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }

  .bootstrap-wrapper .offset-lg-0 {
    margin-left: 0;
  }

  .bootstrap-wrapper .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .bootstrap-wrapper .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .bootstrap-wrapper .offset-lg-3 {
    margin-left: 25%;
  }

  .bootstrap-wrapper .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .bootstrap-wrapper .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .bootstrap-wrapper .offset-lg-6 {
    margin-left: 50%;
  }

  .bootstrap-wrapper .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .bootstrap-wrapper .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .bootstrap-wrapper .offset-lg-9 {
    margin-left: 75%;
  }

  .bootstrap-wrapper .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .bootstrap-wrapper .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .bootstrap-wrapper .col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .bootstrap-wrapper .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .bootstrap-wrapper .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .bootstrap-wrapper .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .bootstrap-wrapper .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .bootstrap-wrapper .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .bootstrap-wrapper .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .bootstrap-wrapper .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .bootstrap-wrapper .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .bootstrap-wrapper .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .bootstrap-wrapper .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .bootstrap-wrapper .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .bootstrap-wrapper .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .bootstrap-wrapper .order-xl-first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .bootstrap-wrapper .order-xl-last {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }

  .bootstrap-wrapper .order-xl-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .bootstrap-wrapper .order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bootstrap-wrapper .order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .bootstrap-wrapper .order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .bootstrap-wrapper .order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .bootstrap-wrapper .order-xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .bootstrap-wrapper .order-xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .bootstrap-wrapper .order-xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .bootstrap-wrapper .order-xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .bootstrap-wrapper .order-xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }

  .bootstrap-wrapper .order-xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }

  .bootstrap-wrapper .order-xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }

  .bootstrap-wrapper .order-xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }

  .bootstrap-wrapper .offset-xl-0 {
    margin-left: 0;
  }

  .bootstrap-wrapper .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .bootstrap-wrapper .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .bootstrap-wrapper .offset-xl-3 {
    margin-left: 25%;
  }

  .bootstrap-wrapper .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .bootstrap-wrapper .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .bootstrap-wrapper .offset-xl-6 {
    margin-left: 50%;
  }

  .bootstrap-wrapper .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .bootstrap-wrapper .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .bootstrap-wrapper .offset-xl-9 {
    margin-left: 75%;
  }

  .bootstrap-wrapper .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .bootstrap-wrapper .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}

.bootstrap-wrapper .img-fluid {
  max-width: 100%;
  height: auto;
}

/* only bootstrap grid styles*/

/* main styles*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
}

body {
  background-color: var(--off-white);
  color: var(--gray-text);
  font-family: var(--body-font);
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

nav ul,
nav ol,
ul,
ol {
  list-style: none;
  list-style-image: none;
}

.link,
.link a {
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

.no-border-botom {
  border-bottom: none;
}

.section__block {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 990px;
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #d7d7d7;
}

.section__block.no-border-botom {
  border-bottom: none;
}

.section__block-title {
  text-align: center;
  font-size: 28px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding-bottom: 1.5em;
}

/*Header*/

.header__top-bar {
  background-color: #000;
  position: relative;
  padding: 5px 32px 0;
}

.header__top-bar .top-bar__home-icon img {
  width: 20px;
  height: auto;
}

/* Header + Branding */

.header__branding {
  background: -o-linear-gradient(top, #242528 0%, #242528 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#242528), to(#242528));
  background: linear-gradient(to bottom, #242528 0%, #242528 100%);
  padding: 0.7em 3em 1em 4.5em;
}

.header__branding .branding__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}

.header__branding .branding__elements .branding__logo img {
  width: 8ch;
  max-width: 200px;
}

.header__branding .branding__elements .branding__site-name-and-slogan {
  margin: 0 auto;
  max-width: 2600px;
  width: 95%;
  color: #fdfdfe;
}

.header__branding .branding__elements .branding__site-name-and-slogan h1.site-name {
  font-size: 42px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.header__branding .branding__elements .branding__site-name-and-slogan h1.site-name a:link,
.header__branding .branding__elements .branding__site-name-and-slogan h1.site-name a:visited {
  text-decoration: none;
  color: #fdfdfe;
}

.header__branding .branding__elements .branding__site-name-and-slogan h2.site-slogan {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2.4;
}

/* Primary Navigation  */

.primary-navigation__bar {
  background-color: #0099d0;
  border-bottom: 1.5px solid #ffffff;
}

.primary-navigation__bar .primary-navigation__menu {
  margin: 0 auto;
  max-width: 2600px;
  width: 95%;
  font-size: 18px;
}

.primary-navigation__bar .primary-navigation__menu .primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-navigation__bar .primary-navigation__menu .primary-menu .primary-menu-item {
  position: relative;
  padding: 3px 30px;
  border-right: 1px solid #f2f2f2;
}

.primary-navigation__bar .primary-navigation__menu .primary-menu .primary-menu-item a {
  color: #f2f2f2;
  position: relative;
  text-decoration: none;
  font-weight: 600;
}

.primary-menu-item.active {
  background-color: #0664a1;
}

.primary-menu-item.active::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 14px solid #0664a1;
  position: absolute;
  left: 40%;
  top: 33px;
}

/* Main - body */

.section__block {
  margin-bottom: 3em;
}

/* Front-page call to action Hero section */

.home-page__hero {
  background-size: cover;
  padding: 100px 0px 96px 0px;
  margin-bottom: 3em;
}

.home-page__hero.background__image {
  background-image: url("/ccdmd/public/wp-content/themes/ccdmd/images/dev-temp/background_frontpage_hero_carceral.png");
}

.home-page__hero .home-page__hero__items-wrapper {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.home-page__hero .home-page__hero__items-wrapper .hero__summary-wrapper {
  color: var(--off-white-text);
  background: var(--gray-dark-transparent-85);
  padding: 15px;
  max-width: 650px;
}

.home-page__hero .home-page__hero__items-wrapper .hero__summary-wrapper h3 {
  font-size: 2em;
  font-weight: 300;
}

.home-page__hero .home-page__hero__items-wrapper .hero__button-wrapper {
  background: var(--gray-dark-transparent-85);
  padding: 15px;
}

.home-page__hero .home-page__hero__items-wrapper .hero__button-wrapper .hero__button {
  color: var(--off-white-text);
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
}

.home-page__hero .home-page__hero__items-wrapper .hero__button-wrapper .hero__button:hover {
  text-decoration: underline;
}

/* Section Block 3 grid */

.grid-3col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-3col .grid__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 1em;
}

.grid-3col .grid__item .grid__item-top {
  text-align: center;
  margin: 15px 0px 20px 0px;
  position: relative;
}

.grid-3col .grid__item .grid__item-top.icon a {
  display: block;
  text-align: center;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  background: #fdfdfd;
  border: 2px solid #00acf0;
  border-radius: 50%;
}

.grid-3col .grid__item .grid__item-top.icon a i {
  padding: 28px;
  font-size: 3.8em;
  color: #4c4c4c;
}

.grid-3col .grid__item .grid__item-top.image {
  margin: unset;
  max-width: 300px;
  height: 169px;
  margin-bottom: 20px;
}

.grid-3col .grid__item .grid__item-top.image img {
  border: 1px solid #e5e5e5;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  overflow: hidden;
}

.grid-3col .grid__item .grid__item-bottom {
  color: #3f3f3c;
  text-align: center;
}

.grid-3col .grid__item .grid__item-bottom .link {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.type_icon {
  bottom: -4px;
  position: absolute;
  right: -3px;
  overflow: visible;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  width: 28px;
  height: 28px;
}

.type_video .type_icon {
  background: url("/ccdmd/public/wp-content/themes/ccdmd/images/dev-temp/video_icon.png") no-repeat 1px 3px;
  background-size: 25px;
  background-color: #ffffff;
}

.type_resource .type_icon {
  background: url("/ccdmd/public/wp-content/themes/ccdmd/images/dev-temp/ressourceexterne_icon.png") no-repeat -6px -3px;
  background-size: 38px;
  background-color: #ffffff;
}

.views__content {
  margin: 10px 0;
}

.views__content-title a {
  font-size: 1.25em;
  line-height: 1.1em;
  color: #0664a1;
}

/* Color Block section */

.section__color-block {
  background-color: #0099d0;
  position: relative;
}

.section__color-block.triangle-decor::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #fdfdfd;
  position: absolute;
  left: 50%;
  top: 0;
}

.section__color-block .section__color-block-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 990px;
  text-align: center;
  padding: 3em 0px;
}

.section__color-block .section__color-block-wrapper h3 {
  color: #fffff0;
  font-size: 1.9em;
  font-weight: normal;
}

.section__color-block .empty-button-wrapper {
  padding-top: 2.3em;
}

.section__color-block .empty-button-wrapper .empty-button {
  display: inline-block;
  color: #ffffff;
  font-size: 1.15em;
  font-weight: bold;
  padding: 1em;
  border: 2px solid #ffffff;
}

/* Footer */

footer {
  background-color: #242528;
  color: #fdfdfe;
  padding: 20px 10px;
  font-size: 14px;
}

footer .footer__wrapper {
  margin: 0 auto;
  max-width: 2600px;
  width: 95%;
  overflow: visible;
  word-wrap: break-word;
}

footer .footer__wrapper a {
  color: inherit;
}

footer .footer__wrapper .footer__block-menu {
  display: block;
  border-right-style: solid;
  border-right-width: 1px;
  min-height: 220px;
  width: 195px;
  border-color: #0099d0;
  margin-bottom: 20px;
}

footer .footer__wrapper .footer__block-menu .footer__block-menu-title {
  padding: 2px 10px;
  font-size: 1.1em;
}

footer .footer__wrapper .footer__block-menu .footer__block-menu-content .footer__menu {
  padding: 0 0 0 10px;
  border: none;
  list-style: none;
  text-align: left;
  margin: 1em 0;
}

footer .footer__wrapper .footer__wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer__wrapper .footer__wrapper-top .block__social-media {
  margin-top: 20px;
}

footer .footer__wrapper .footer__wrapper-bottom {
  border-top: 1px dashed #333333;
  margin: 20px 0;
  padding: 10px 0 0;
  width: 100%;
}

footer .footer__wrapper .footer__wrapper-bottom .footer_copyright {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

