/* colors */
$primary: #0099d0;
$primary-active:#0664a1;
$primary-border:#00acf0;


$white:#ffffff;
$off-white:#fdfdfd;
$gray:#242528; /* footer*/
$gray-dark:#212121;

$black:#000;

$green:#63823b; 
$green-active:#789a4d;

/* transparency */
$gray-dark-transparent-85: rgba(36,30,40,0.85);
$gray-dark-transparent-90: rgba(36,30,40,0.90);
$gray-gradient-header:linear-gradient(to bottom, #242528 0%, #242528 100%);




/* textcolors */
$white-text: #fdfdfe;
$off-white-text: #fffff0;
$navigation-text:#f2f2f2;
$green-text:#657d41;
$gray-text:#3f3f3c;
$gray-light-text:#B1A8AB;
$primary-text:#0664a1;